@font-face {
   font-family: 'NeueEinstellung-Regular';
   font-display: swap;
   src: url('file:///C:/Users/julio/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-11-09_120433/fonts/NeueEinstellung-Regular/font.ttf');
}
