@font-face {
   font-family: 'NeueEinstellung-Regular';
   font-display: swap;
   src: url('file:///Users/juliocesarsavio/Library/CloudStorage/GoogleDrive-juliocesarsavio@powertential.com/Shared%20drives/Clientes/50%20-%20Claudia%20Cury/Web/7/export/fonts/NeueEinstellung-Regular/font.ttf');
}
