@font-face {
   font-family: 'NeueEinstellung-Regular';
   font-display: swap;
   src: url('file:///C:/Users/julio/OneDrive/%C3%81rea%20de%20Trabalho/4/export/fonts/NeueEinstellung-Regular/font.ttf');
}
